* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  height: 100%;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

.planner {
  background: url("./components/images/ghibli-1.png") no-repeat center center;
  background-size: 100% 100%;
}
