.pomo-container {
  height: 100%;
  width: 100%;
  background: #34394c;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pomo {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(4, auto);
  column-gap: 5px;
  align-items: center;
  justify-content: center;
}

.time-controller-split {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 5px;
}
