.Button {
  background: #f2f4f1;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #34394c;
  font-weight: bold;
  text-decoration: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
