.progress-container {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* transform: translateY(1rem); */
  margin-left: 2rem;
}
.dot {
  height: 2rem;
  width: 2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 15px 10px;
  outline: none;
  cursor: pointer;
}

.completed {
  background-color: #f28458;
}
