.progress-container {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  transform: translateY(1rem);
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 15px 10px;
}

.completed {
  background-color: #f28458;
}
